<div class="container">
  <div class="row text-center my-5">
    <div class="col">
      <h1>Sumo Scraper</h1>
    </div>
  </div>
  <div class="row text-center my-5">
    <div class="col">
      <h2><i>Stay updated on the wild world of Sumo</i></h2>
    </div>
  </div>
  <div class="row my-5">
    <button type="button" id="scrape" class="btn btn-outline-success btn-lg btn-block">Scrape</button>
  </div>
  {{!-- <div id="notes" class="col">
  </div> --}}
  <div class="row">
    <div id="articles" class="col-12">
    </div>
  </div>
</div>
